@font-face {
    font-family: "vazir";
    font-weight: 400;
    font-style: normal;
    src: url("/assets/fonts/vazir-font-v29.1.0/Vazir-Regular.woff") format("woff");
}

@font-face {
    font-family: "vazir";
    font-weight: 700;
    font-style: normal;
    src: url("/assets/fonts/vazir-font-v29.1.0/Vazir-Bold.woff") format("woff");
}

body {
    font-family: "vazir";
}