/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* root variable */
:root {
    --color-primaray: #FF5722;
    --color--secondary-light: #FFF6F2;
    --color--secondary-dark: #FFA589;
    --color-navbar: #F8F8F8;
    --color-white: #FFFFFF;
    --color-headings-font: #000000;
    --color-body-font: #333333;
}

html {
    font-size: 62.5%;
    /* 62.5% * 16 => 10px */
}

body {
    color: var(--color-body-font);
    /* mobile first */
    font-size: 1.4rem;
}

h1,
h2,
h3 {
    color: var(--color-headings-font);
    font-weight: 700;
}

/* mobile first */
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

@media screen and (min-width:1024) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.5rem;
    }
}